@use 'sass:map';
@use '~@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-pallette: map.get($color-config, "primary");
  $accent-pallette: map.get($color-config, "accent");

  .header-menu-button:hover {
    background-color: mat.get-color-from-palette($primary-pallette, darker);
  }

  .mat-menu-item:hover:not([disabled]),
  .mat-menu-item.cdk-program-focused:not([disabled]),
  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .mat-menu-item-highlighted:not([disabled]) {
    background: mat.get-color-from-palette($primary-pallette, main) !important;
    color: #fff;
  }

  .mat-form-field-outline {
    background: mat.get-color-from-palette($primary-pallette, darker);
  }

  .mat-form-field-infix {
    ::placeholder {
      color: mat.get-color-from-palette($accent-pallette, main) !important;
    }
  }
  .mat-form-field-wrapper {
    .mat-icon {
      color: mat.get-color-from-palette($accent-pallette, main) !important;
    }
  }
}
