<div class="header">
    <mat-toolbar color="primary">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
            <div fxLayout="row" fxLayoutGap="10" fxLayoutAlign.gt-md="center center"
                fxLayoutAlign.lt-md="space-between center" fxFlex.lt-md>
                <mat-icon fxHide.lt-md svgIcon="app_switcher"></mat-icon>
                <mat-icon fxShow.lt-md fxHide.gt-md (click)="toggleDrawer()">menu</mat-icon>
                <span fxHide.lt-md class="header-name">
                    Jira
                </span>
                <div fxHide.gt-md>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-icon matPrefix>search</mat-icon>
                            <input type="text" placeholder="Search" matInput [formControl]="searchControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-optgroup *ngFor="let option of searchOptions" [label]="option.heading">
                                    <mat-option *ngFor="let name of option.content" [value]="name">
                                        {{name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div fxLayout="row" fxHide.gt-md>
                    <!-- Will come from backend dynamically -->
                    <img class="user-avatar" src="assets/images/user_avatar.jpg" alt="User Avatar">
                </div>
            </div>

            <div class="header-menu" fxLayout="row" fxHide.lt-md>
                <!-- Dynamically rendering header menu item -->
                <div *ngFor="let item of headerMenu">
                    <div class="header-menu-button" fxLayout="row" [matMenuTriggerFor]="trigger">
                        <span>{{ item.title }}</span>
                        <mat-icon inline="true">expand_more</mat-icon>
                    </div>

                    <mat-menu #trigger="matMenu">
                        <ng-container *ngFor="let menu of item.subMenu">

                            <ng-container *ngIf="checkDivider(menu.name)">
                                <div>
                                    <mat-divider></mat-divider>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!checkDivider(menu.name)">
                                <button mat-menu-item appRot [routerLink]="menu.route">
                                    <span>{{menu.name}}</span>
                                </button>
                            </ng-container>

                        </ng-container>
                    </mat-menu>
                </div>
                <button mat-raised-button color="primary">Create</button>
            </div>


            <div fxLayout="row" fxLayoutAlign.gt-md="end center" fxFlex fxLayoutGap="20px" fxHide.lt-md>
                <div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-icon matPrefix>search</mat-icon>
                            <input type="text" placeholder="Search" matInput [formControl]="searchControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-optgroup *ngFor="let option of searchOptions" [label]="option.heading">
                                    <mat-option *ngFor="let name of option.content" [value]="name">
                                        {{name}}
                                    </mat-option>
                                </mat-optgroup>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <div fxHide.lt-md>
                    <mat-icon svgIcon="export"></mat-icon>
                </div>
                <div fxHide.lt-md>
                    <mat-icon>campaign</mat-icon>
                </div>
                <div fxHide.lt-md>
                    <mat-icon>help</mat-icon>
                </div>
                <div fxLayout="row">
                    <!-- Will come from backend dynamically -->
                    <img class="user-avatar" src="assets/images/user_avatar.jpg" alt="User Avatar">
                </div>
            </div>
        </div>

    </mat-toolbar>
    <!-- Side drawer for mobile screen -->
    <app-side-drawer [isSideNavOpen]="sideNavBar" [menu]="headerMenu" fxShow.lt-md fxHide.gt-md></app-side-drawer>
</div>