<div class="header">
    <mat-toolbar color="primary">
        <mat-icon svgIcon="app_switcher"></mat-icon>

        <span class="header-name">
            Jira
        </span>

        <div class="header-menu" fxLayout="row">
            <!-- Dynamically rendering header menu item -->
            <div *ngFor="let item of headerMenu">
                <div class="header-menu-button" fxLayout="row" [matMenuTriggerFor]="trigger">
                    <span>{{ item.title }}</span>
                    <mat-icon inline="true">expand_more</mat-icon>
                </div>

                <mat-menu #trigger="matMenu">
                    <ng-container *ngFor="let menu of item.subMenu">

                        <ng-container *ngIf="checkDivider(menu)">
                            <div>
                                <mat-divider></mat-divider>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!checkDivider(menu)">
                            <button mat-menu-item>
                                <span>{{menu}}</span>
                            </button>
                        </ng-container>

                    </ng-container>
                </mat-menu>
            </div>
        </div>

        <button mat-raised-button color="primary">Create</button>
    </mat-toolbar>
</div>